</body>
<div class="footer hide-for-small-only cell" style="width:100%; bottom:0; position: fixed">
  <div style="margin:auto; color:#0093d0; padding-left:150px">

    <div style="position: fixed; right:100px;bottom:2px;">2021 <i class="far fa-copyright"></i> <a
        href="http://www.globaltronic.pt" target="_blank" tabindex="-1">Globaltronic S.A.</a></div>
  </div>
</div>

</html>